ejbscart/scart/web/WEB-INF/wsdl/localhost_8080/adminservice/adminservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="adminservice">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/adminservice/adminservice?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="addNewChildCategory">
<part name="parameters" element="tns:addNewChildCategory"/>
</message>
<message name="editChildCategory">
<part name="parameters" element="tns:editChildCategory"/>
</message>
<message name="removeChildCategory">
<part name="parameters" element="tns:removeChildCategory"/>
</message>
<message name="addFieldtoCategory">
<part name="parameters" element="tns:addFieldtoCategory"/>
</message>
<message name="removeFieldFromCategory">
<part name="parameters" element="tns:removeFieldFromCategory"/>
</message>
<message name="showFiledToCategory">
<part name="parameters" element="tns:showFiledToCategory"/>
</message>
<message name="showFiledToCategoryResponse">
<part name="parameters" element="tns:showFiledToCategoryResponse"/>
</message>
<message name="setVisibilityToAd">
<part name="parameters" element="tns:setVisibilityToAd"/>
</message>
<message name="setVisibilityToUser">
<part name="parameters" element="tns:setVisibilityToUser"/>
</message>
<message name="editCategory">
<part name="parameters" element="tns:editCategory"/>
</message>
<message name="addNewBrand">
<part name="parameters" element="tns:addNewBrand"/>
</message>
<message name="removeCategory">
<part name="parameters" element="tns:removeCategory"/>
</message>
<message name="editBrand">
<part name="parameters" element="tns:editBrand"/>
</message>
<message name="showAllUser">
<part name="parameters" element="tns:showAllUser"/>
</message>
<message name="showAllUserResponse">
<part name="parameters" element="tns:showAllUserResponse"/>
</message>
<message name="addNewCategory">
<part name="parameters" element="tns:addNewCategory"/>
</message>
<message name="removeBrand">
<part name="parameters" element="tns:removeBrand"/>
</message>
<message name="showAllBrand">
<part name="parameters" element="tns:showAllBrand"/>
</message>
<message name="showAllBrandResponse">
<part name="parameters" element="tns:showAllBrandResponse"/>
</message>
<message name="addNewFields">
<part name="parameters" element="tns:addNewFields"/>
</message>
<message name="removeFields">
<part name="parameters" element="tns:removeFields"/>
</message>
<message name="showAllFields">
<part name="parameters" element="tns:showAllFields"/>
</message>
<message name="showAllFieldsResponse">
<part name="parameters" element="tns:showAllFieldsResponse"/>
</message>
<portType name="adminservice">
<operation name="removeUser">
<input wsam:Action="http://service/adminservice/removeUser" message="tns:removeUser"/>
</operation>
<operation name="addNewChildCategory">
<input wsam:Action="http://service/adminservice/addNewChildCategory" message="tns:addNewChildCategory"/>
</operation>
<operation name="editChildCategory">
<input wsam:Action="http://service/adminservice/editChildCategory" message="tns:editChildCategory"/>
</operation>
<operation name="removeChildCategory">
<input wsam:Action="http://service/adminservice/removeChildCategory" message="tns:removeChildCategory"/>
</operation>
<operation name="addFieldtoCategory">
<input wsam:Action="http://service/adminservice/addFieldtoCategory" message="tns:addFieldtoCategory"/>
</operation>
<operation name="removeFieldFromCategory">
<input wsam:Action="http://service/adminservice/removeFieldFromCategory" message="tns:removeFieldFromCategory"/>
</operation>
<operation name="showFiledToCategory">
<input wsam:Action="http://service/adminservice/showFiledToCategoryRequest" message="tns:showFiledToCategory"/>
<output wsam:Action="http://service/adminservice/showFiledToCategoryResponse" message="tns:showFiledToCategoryResponse"/>
</operation>
<operation name="setVisibilityToAd">
<input wsam:Action="http://service/adminservice/setVisibilityToAd" message="tns:setVisibilityToAd"/>
</operation>
<operation name="setVisibilityToUser">
<input wsam:Action="http://service/adminservice/setVisibilityToUser" message="tns:setVisibilityToUser"/>
</operation>
<operation name="editCategory">
<input wsam:Action="http://service/adminservice/editCategory" message="tns:editCategory"/>
</operation>
<operation name="addNewBrand">
<input wsam:Action="http://service/adminservice/addNewBrand" message="tns:addNewBrand"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://service/adminservice/removeCategory" message="tns:removeCategory"/>
</operation>
<operation name="editBrand">
<input wsam:Action="http://service/adminservice/editBrand" message="tns:editBrand"/>
</operation>
<operation name="showAllUser">
<input wsam:Action="http://service/adminservice/showAllUserRequest" message="tns:showAllUser"/>
<output wsam:Action="http://service/adminservice/showAllUserResponse" message="tns:showAllUserResponse"/>
</operation>
<operation name="addNewCategory">
<input wsam:Action="http://service/adminservice/addNewCategory" message="tns:addNewCategory"/>
</operation>
<operation name="removeBrand">
<input wsam:Action="http://service/adminservice/removeBrand" message="tns:removeBrand"/>
</operation>
<operation name="showAllBrand">
<input wsam:Action="http://service/adminservice/showAllBrandRequest" message="tns:showAllBrand"/>
<output wsam:Action="http://service/adminservice/showAllBrandResponse" message="tns:showAllBrandResponse"/>
</operation>
<operation name="addNewFields">
<input wsam:Action="http://service/adminservice/addNewFields" message="tns:addNewFields"/>
</operation>
<operation name="removeFields">
<input wsam:Action="http://service/adminservice/removeFields" message="tns:removeFields"/>
</operation>
<operation name="showAllFields">
<input wsam:Action="http://service/adminservice/showAllFieldsRequest" message="tns:showAllFields"/>
<output wsam:Action="http://service/adminservice/showAllFieldsResponse" message="tns:showAllFieldsResponse"/>
</operation>
</portType>
<binding name="adminservicePortBinding" type="tns:adminservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewChildCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editChildCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeChildCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addFieldtoCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeFieldFromCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="showFiledToCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setVisibilityToAd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setVisibilityToUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="showAllUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="showAllBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="showAllFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="adminservice">
<port name="adminservicePort" binding="tns:adminservicePortBinding">
<soap:address location="http://localhost:8080/adminservice/adminservice"/>
</port>
</service>
</definitions>