ejbscart/scart/src/conf/xml-resources/web-service-references/scartbean/wsdl/localhost_8080/scartbeanService/scartbean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="scartbeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/scartbeanService/scartbean?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="showAllCategory">
<part name="parameters" element="tns:showAllCategory"/>
</message>
<message name="showAllCategoryResponse">
<part name="parameters" element="tns:showAllCategoryResponse"/>
</message>
<message name="showByBrandId">
<part name="parameters" element="tns:showByBrandId"/>
</message>
<message name="showByBrandIdResponse">
<part name="parameters" element="tns:showByBrandIdResponse"/>
</message>
<message name="showAllAds">
<part name="parameters" element="tns:showAllAds"/>
</message>
<message name="showAllAdsResponse">
<part name="parameters" element="tns:showAllAdsResponse"/>
</message>
<message name="showUserWiseAd">
<part name="parameters" element="tns:showUserWiseAd"/>
</message>
<message name="showUserWiseAdResponse">
<part name="parameters" element="tns:showUserWiseAdResponse"/>
</message>
<message name="showAllAdDetails">
<part name="parameters" element="tns:showAllAdDetails"/>
</message>
<message name="showAllAdDetailsResponse">
<part name="parameters" element="tns:showAllAdDetailsResponse"/>
</message>
<message name="showAdWiseImage">
<part name="parameters" element="tns:showAdWiseImage"/>
</message>
<message name="showAdWiseImageResponse">
<part name="parameters" element="tns:showAdWiseImageResponse"/>
</message>
<message name="showUserAuction">
<part name="parameters" element="tns:showUserAuction"/>
</message>
<message name="showUserAuctionResponse">
<part name="parameters" element="tns:showUserAuctionResponse"/>
</message>
<message name="showAuctionImage">
<part name="parameters" element="tns:showAuctionImage"/>
</message>
<message name="showAuctionImageResponse">
<part name="parameters" element="tns:showAuctionImageResponse"/>
</message>
<message name="showBidActivity">
<part name="parameters" element="tns:showBidActivity"/>
</message>
<message name="showBidActivityResponse">
<part name="parameters" element="tns:showBidActivityResponse"/>
</message>
<message name="showSingleImage">
<part name="parameters" element="tns:showSingleImage"/>
</message>
<message name="showSingleImageResponse">
<part name="parameters" element="tns:showSingleImageResponse"/>
</message>
<message name="showAllCountry">
<part name="parameters" element="tns:showAllCountry"/>
</message>
<message name="showAllCountryResponse">
<part name="parameters" element="tns:showAllCountryResponse"/>
</message>
<message name="showAdByTitle">
<part name="parameters" element="tns:showAdByTitle"/>
</message>
<message name="showAdByTitleResponse">
<part name="parameters" element="tns:showAdByTitleResponse"/>
</message>
<message name="showAllCity">
<part name="parameters" element="tns:showAllCity"/>
</message>
<message name="showAllCityResponse">
<part name="parameters" element="tns:showAllCityResponse"/>
</message>
<message name="showAllChildCategory">
<part name="parameters" element="tns:showAllChildCategory"/>
</message>
<message name="showAllChildCategoryResponse">
<part name="parameters" element="tns:showAllChildCategoryResponse"/>
</message>
<message name="showMasterCategoryWise">
<part name="parameters" element="tns:showMasterCategoryWise"/>
</message>
<message name="showMasterCategoryWiseResponse">
<part name="parameters" element="tns:showMasterCategoryWiseResponse"/>
</message>
<message name="showCategoryWiseBrand">
<part name="parameters" element="tns:showCategoryWiseBrand"/>
</message>
<message name="showCategoryWiseBrandResponse">
<part name="parameters" element="tns:showCategoryWiseBrandResponse"/>
</message>
<message name="showAdCategoryWise">
<part name="parameters" element="tns:showAdCategoryWise"/>
</message>
<message name="showAdCategoryWiseResponse">
<part name="parameters" element="tns:showAdCategoryWiseResponse"/>
</message>
<message name="showAdidWiseDetails">
<part name="parameters" element="tns:showAdidWiseDetails"/>
</message>
<message name="showAdidWiseDetailsResponse">
<part name="parameters" element="tns:showAdidWiseDetailsResponse"/>
</message>
<message name="showAllAuctionDetail">
<part name="parameters" element="tns:showAllAuctionDetail"/>
</message>
<message name="showAllAuctionDetailResponse">
<part name="parameters" element="tns:showAllAuctionDetailResponse"/>
</message>
<message name="showAdByCategoryAndName">
<part name="parameters" element="tns:showAdByCategoryAndName"/>
</message>
<message name="showAdByCategoryAndNameResponse">
<part name="parameters" element="tns:showAdByCategoryAndNameResponse"/>
</message>
<message name="showSingleAddetails">
<part name="parameters" element="tns:showSingleAddetails"/>
</message>
<message name="showSingleAddetailsResponse">
<part name="parameters" element="tns:showSingleAddetailsResponse"/>
</message>
<message name="showAdByUsernameAndDate">
<part name="parameters" element="tns:showAdByUsernameAndDate"/>
</message>
<message name="showAdByUsernameAndDateResponse">
<part name="parameters" element="tns:showAdByUsernameAndDateResponse"/>
</message>
<message name="showAllStateByCountryId">
<part name="parameters" element="tns:showAllStateByCountryId"/>
</message>
<message name="showAllStateByCountryIdResponse">
<part name="parameters" element="tns:showAllStateByCountryIdResponse"/>
</message>
<message name="showAllCityByStateId">
<part name="parameters" element="tns:showAllCityByStateId"/>
</message>
<message name="showAllCityByStateIdResponse">
<part name="parameters" element="tns:showAllCityByStateIdResponse"/>
</message>
<message name="showAdByCityAndTitle">
<part name="parameters" element="tns:showAdByCityAndTitle"/>
</message>
<message name="showAdByCityAndTitleResponse">
<part name="parameters" element="tns:showAdByCityAndTitleResponse"/>
</message>
<portType name="scartbean">
<operation name="persist">
<input wsam:Action="http://ejb/scartbean/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ejb/scartbean/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="showAllCategory">
<input wsam:Action="http://ejb/scartbean/showAllCategoryRequest" message="tns:showAllCategory"/>
<output wsam:Action="http://ejb/scartbean/showAllCategoryResponse" message="tns:showAllCategoryResponse"/>
</operation>
<operation name="showByBrandId">
<input wsam:Action="http://ejb/scartbean/showByBrandIdRequest" message="tns:showByBrandId"/>
<output wsam:Action="http://ejb/scartbean/showByBrandIdResponse" message="tns:showByBrandIdResponse"/>
</operation>
<operation name="showAllAds">
<input wsam:Action="http://ejb/scartbean/showAllAdsRequest" message="tns:showAllAds"/>
<output wsam:Action="http://ejb/scartbean/showAllAdsResponse" message="tns:showAllAdsResponse"/>
</operation>
<operation name="showUserWiseAd">
<input wsam:Action="http://ejb/scartbean/showUserWiseAdRequest" message="tns:showUserWiseAd"/>
<output wsam:Action="http://ejb/scartbean/showUserWiseAdResponse" message="tns:showUserWiseAdResponse"/>
</operation>
<operation name="showAllAdDetails">
<input wsam:Action="http://ejb/scartbean/showAllAdDetailsRequest" message="tns:showAllAdDetails"/>
<output wsam:Action="http://ejb/scartbean/showAllAdDetailsResponse" message="tns:showAllAdDetailsResponse"/>
</operation>
<operation name="showAdWiseImage">
<input wsam:Action="http://ejb/scartbean/showAdWiseImageRequest" message="tns:showAdWiseImage"/>
<output wsam:Action="http://ejb/scartbean/showAdWiseImageResponse" message="tns:showAdWiseImageResponse"/>
</operation>
<operation name="showUserAuction">
<input wsam:Action="http://ejb/scartbean/showUserAuctionRequest" message="tns:showUserAuction"/>
<output wsam:Action="http://ejb/scartbean/showUserAuctionResponse" message="tns:showUserAuctionResponse"/>
</operation>
<operation name="showAuctionImage">
<input wsam:Action="http://ejb/scartbean/showAuctionImageRequest" message="tns:showAuctionImage"/>
<output wsam:Action="http://ejb/scartbean/showAuctionImageResponse" message="tns:showAuctionImageResponse"/>
</operation>
<operation name="showBidActivity">
<input wsam:Action="http://ejb/scartbean/showBidActivityRequest" message="tns:showBidActivity"/>
<output wsam:Action="http://ejb/scartbean/showBidActivityResponse" message="tns:showBidActivityResponse"/>
</operation>
<operation name="showSingleImage">
<input wsam:Action="http://ejb/scartbean/showSingleImageRequest" message="tns:showSingleImage"/>
<output wsam:Action="http://ejb/scartbean/showSingleImageResponse" message="tns:showSingleImageResponse"/>
</operation>
<operation name="showAllCountry">
<input wsam:Action="http://ejb/scartbean/showAllCountryRequest" message="tns:showAllCountry"/>
<output wsam:Action="http://ejb/scartbean/showAllCountryResponse" message="tns:showAllCountryResponse"/>
</operation>
<operation name="showAdByTitle">
<input wsam:Action="http://ejb/scartbean/showAdByTitleRequest" message="tns:showAdByTitle"/>
<output wsam:Action="http://ejb/scartbean/showAdByTitleResponse" message="tns:showAdByTitleResponse"/>
</operation>
<operation name="showAllCity">
<input wsam:Action="http://ejb/scartbean/showAllCityRequest" message="tns:showAllCity"/>
<output wsam:Action="http://ejb/scartbean/showAllCityResponse" message="tns:showAllCityResponse"/>
</operation>
<operation name="showAllChildCategory">
<input wsam:Action="http://ejb/scartbean/showAllChildCategoryRequest" message="tns:showAllChildCategory"/>
<output wsam:Action="http://ejb/scartbean/showAllChildCategoryResponse" message="tns:showAllChildCategoryResponse"/>
</operation>
<operation name="showMasterCategoryWise">
<input wsam:Action="http://ejb/scartbean/showMasterCategoryWiseRequest" message="tns:showMasterCategoryWise"/>
<output wsam:Action="http://ejb/scartbean/showMasterCategoryWiseResponse" message="tns:showMasterCategoryWiseResponse"/>
</operation>
<operation name="showCategoryWiseBrand">
<input wsam:Action="http://ejb/scartbean/showCategoryWiseBrandRequest" message="tns:showCategoryWiseBrand"/>
<output wsam:Action="http://ejb/scartbean/showCategoryWiseBrandResponse" message="tns:showCategoryWiseBrandResponse"/>
</operation>
<operation name="showAdCategoryWise">
<input wsam:Action="http://ejb/scartbean/showAdCategoryWiseRequest" message="tns:showAdCategoryWise"/>
<output wsam:Action="http://ejb/scartbean/showAdCategoryWiseResponse" message="tns:showAdCategoryWiseResponse"/>
</operation>
<operation name="showAdidWiseDetails">
<input wsam:Action="http://ejb/scartbean/showAdidWiseDetailsRequest" message="tns:showAdidWiseDetails"/>
<output wsam:Action="http://ejb/scartbean/showAdidWiseDetailsResponse" message="tns:showAdidWiseDetailsResponse"/>
</operation>
<operation name="showAllAuctionDetail">
<input wsam:Action="http://ejb/scartbean/showAllAuctionDetailRequest" message="tns:showAllAuctionDetail"/>
<output wsam:Action="http://ejb/scartbean/showAllAuctionDetailResponse" message="tns:showAllAuctionDetailResponse"/>
</operation>
<operation name="showAdByCategoryAndName">
<input wsam:Action="http://ejb/scartbean/showAdByCategoryAndNameRequest" message="tns:showAdByCategoryAndName"/>
<output wsam:Action="http://ejb/scartbean/showAdByCategoryAndNameResponse" message="tns:showAdByCategoryAndNameResponse"/>
</operation>
<operation name="showSingleAddetails">
<input wsam:Action="http://ejb/scartbean/showSingleAddetailsRequest" message="tns:showSingleAddetails"/>
<output wsam:Action="http://ejb/scartbean/showSingleAddetailsResponse" message="tns:showSingleAddetailsResponse"/>
</operation>
<operation name="showAdByUsernameAndDate">
<input wsam:Action="http://ejb/scartbean/showAdByUsernameAndDateRequest" message="tns:showAdByUsernameAndDate"/>
<output wsam:Action="http://ejb/scartbean/showAdByUsernameAndDateResponse" message="tns:showAdByUsernameAndDateResponse"/>
</operation>
<operation name="showAllStateByCountryId">
<input wsam:Action="http://ejb/scartbean/showAllStateByCountryIdRequest" message="tns:showAllStateByCountryId"/>
<output wsam:Action="http://ejb/scartbean/showAllStateByCountryIdResponse" message="tns:showAllStateByCountryIdResponse"/>
</operation>
<operation name="showAllCityByStateId">
<input wsam:Action="http://ejb/scartbean/showAllCityByStateIdRequest" message="tns:showAllCityByStateId"/>
<output wsam:Action="http://ejb/scartbean/showAllCityByStateIdResponse" message="tns:showAllCityByStateIdResponse"/>
</operation>
<operation name="showAdByCityAndTitle">
<input wsam:Action="http://ejb/scartbean/showAdByCityAndTitleRequest" message="tns:showAdByCityAndTitle"/>
<output wsam:Action="http://ejb/scartbean/showAdByCityAndTitleResponse" message="tns:showAdByCityAndTitleResponse"/>
</operation>
</portType>
<binding name="scartbeanPortBinding" type="tns:scartbean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showByBrandId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showUserWiseAd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAdDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdWiseImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showUserAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAuctionImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showBidActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showSingleImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllChildCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showMasterCategoryWise">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showCategoryWiseBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdCategoryWise">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdidWiseDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAuctionDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdByCategoryAndName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showSingleAddetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdByUsernameAndDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllStateByCountryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllCityByStateId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdByCityAndTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="scartbeanService">
<port name="scartbeanPort" binding="tns:scartbeanPortBinding">
<soap:address location="http://localhost:8080/scartbeanService/scartbean"/>
</port>
</service>
</definitions>