ejbscart/scart/web/WEB-INF/wsdl/localhost_8080/scartservice/scartservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="scartservice">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/scartservice/scartservice?xsd=1"/>
</xsd:schema>
</types>
<message name="showAllChildCategory">
<part name="parameters" element="tns:showAllChildCategory"/>
</message>
<message name="showAllChildCategoryResponse">
<part name="parameters" element="tns:showAllChildCategoryResponse"/>
</message>
<message name="showMasterCategoryWise">
<part name="parameters" element="tns:showMasterCategoryWise"/>
</message>
<message name="showMasterCategoryWiseResponse">
<part name="parameters" element="tns:showMasterCategoryWiseResponse"/>
</message>
<message name="showCategoryWiseBrand">
<part name="parameters" element="tns:showCategoryWiseBrand"/>
</message>
<message name="showCategoryWiseBrandResponse">
<part name="parameters" element="tns:showCategoryWiseBrandResponse"/>
</message>
<message name="showAdCategoryWise">
<part name="parameters" element="tns:showAdCategoryWise"/>
</message>
<message name="showAdCategoryWiseResponse">
<part name="parameters" element="tns:showAdCategoryWiseResponse"/>
</message>
<message name="showAdidWiseDetails">
<part name="parameters" element="tns:showAdidWiseDetails"/>
</message>
<message name="showAdidWiseDetailsResponse">
<part name="parameters" element="tns:showAdidWiseDetailsResponse"/>
</message>
<message name="showAllAuctionDetail">
<part name="parameters" element="tns:showAllAuctionDetail"/>
</message>
<message name="showAllAuctionDetailResponse">
<part name="parameters" element="tns:showAllAuctionDetailResponse"/>
</message>
<message name="showAdByCategoryAndName">
<part name="parameters" element="tns:showAdByCategoryAndName"/>
</message>
<message name="showAdByCategoryAndNameResponse">
<part name="parameters" element="tns:showAdByCategoryAndNameResponse"/>
</message>
<message name="showAllCategory">
<part name="parameters" element="tns:showAllCategory"/>
</message>
<message name="showAllCategoryResponse">
<part name="parameters" element="tns:showAllCategoryResponse"/>
</message>
<message name="showAllAds">
<part name="parameters" element="tns:showAllAds"/>
</message>
<message name="showAllAdsResponse">
<part name="parameters" element="tns:showAllAdsResponse"/>
</message>
<message name="showUserWiseAd">
<part name="parameters" element="tns:showUserWiseAd"/>
</message>
<message name="showUserWiseAdResponse">
<part name="parameters" element="tns:showUserWiseAdResponse"/>
</message>
<message name="showAllAdDetails">
<part name="parameters" element="tns:showAllAdDetails"/>
</message>
<message name="showAllAdDetailsResponse">
<part name="parameters" element="tns:showAllAdDetailsResponse"/>
</message>
<message name="showAdWiseImage">
<part name="parameters" element="tns:showAdWiseImage"/>
</message>
<message name="showAdWiseImageResponse">
<part name="parameters" element="tns:showAdWiseImageResponse"/>
</message>
<message name="showUserAuction">
<part name="parameters" element="tns:showUserAuction"/>
</message>
<message name="showUserAuctionResponse">
<part name="parameters" element="tns:showUserAuctionResponse"/>
</message>
<message name="showAuctionImage">
<part name="parameters" element="tns:showAuctionImage"/>
</message>
<message name="showAuctionImageResponse">
<part name="parameters" element="tns:showAuctionImageResponse"/>
</message>
<message name="showBidActivity">
<part name="parameters" element="tns:showBidActivity"/>
</message>
<message name="showBidActivityResponse">
<part name="parameters" element="tns:showBidActivityResponse"/>
</message>
<portType name="scartservice">
<operation name="showAllChildCategory">
<input wsam:Action="http://service/scartservice/showAllChildCategoryRequest" message="tns:showAllChildCategory"/>
<output wsam:Action="http://service/scartservice/showAllChildCategoryResponse" message="tns:showAllChildCategoryResponse"/>
</operation>
<operation name="showMasterCategoryWise">
<input wsam:Action="http://service/scartservice/showMasterCategoryWiseRequest" message="tns:showMasterCategoryWise"/>
<output wsam:Action="http://service/scartservice/showMasterCategoryWiseResponse" message="tns:showMasterCategoryWiseResponse"/>
</operation>
<operation name="showCategoryWiseBrand">
<input wsam:Action="http://service/scartservice/showCategoryWiseBrandRequest" message="tns:showCategoryWiseBrand"/>
<output wsam:Action="http://service/scartservice/showCategoryWiseBrandResponse" message="tns:showCategoryWiseBrandResponse"/>
</operation>
<operation name="showAdCategoryWise">
<input wsam:Action="http://service/scartservice/showAdCategoryWiseRequest" message="tns:showAdCategoryWise"/>
<output wsam:Action="http://service/scartservice/showAdCategoryWiseResponse" message="tns:showAdCategoryWiseResponse"/>
</operation>
<operation name="showAdidWiseDetails">
<input wsam:Action="http://service/scartservice/showAdidWiseDetailsRequest" message="tns:showAdidWiseDetails"/>
<output wsam:Action="http://service/scartservice/showAdidWiseDetailsResponse" message="tns:showAdidWiseDetailsResponse"/>
</operation>
<operation name="showAllAuctionDetail">
<input wsam:Action="http://service/scartservice/showAllAuctionDetailRequest" message="tns:showAllAuctionDetail"/>
<output wsam:Action="http://service/scartservice/showAllAuctionDetailResponse" message="tns:showAllAuctionDetailResponse"/>
</operation>
<operation name="showAdByCategoryAndName">
<input wsam:Action="http://service/scartservice/showAdByCategoryAndNameRequest" message="tns:showAdByCategoryAndName"/>
<output wsam:Action="http://service/scartservice/showAdByCategoryAndNameResponse" message="tns:showAdByCategoryAndNameResponse"/>
</operation>
<operation name="showAllCategory">
<input wsam:Action="http://service/scartservice/showAllCategoryRequest" message="tns:showAllCategory"/>
<output wsam:Action="http://service/scartservice/showAllCategoryResponse" message="tns:showAllCategoryResponse"/>
</operation>
<operation name="showAllAds">
<input wsam:Action="http://service/scartservice/showAllAdsRequest" message="tns:showAllAds"/>
<output wsam:Action="http://service/scartservice/showAllAdsResponse" message="tns:showAllAdsResponse"/>
</operation>
<operation name="showUserWiseAd">
<input wsam:Action="http://service/scartservice/showUserWiseAdRequest" message="tns:showUserWiseAd"/>
<output wsam:Action="http://service/scartservice/showUserWiseAdResponse" message="tns:showUserWiseAdResponse"/>
</operation>
<operation name="showAllAdDetails">
<input wsam:Action="http://service/scartservice/showAllAdDetailsRequest" message="tns:showAllAdDetails"/>
<output wsam:Action="http://service/scartservice/showAllAdDetailsResponse" message="tns:showAllAdDetailsResponse"/>
</operation>
<operation name="showAdWiseImage">
<input wsam:Action="http://service/scartservice/showAdWiseImageRequest" message="tns:showAdWiseImage"/>
<output wsam:Action="http://service/scartservice/showAdWiseImageResponse" message="tns:showAdWiseImageResponse"/>
</operation>
<operation name="showUserAuction">
<input wsam:Action="http://service/scartservice/showUserAuctionRequest" message="tns:showUserAuction"/>
<output wsam:Action="http://service/scartservice/showUserAuctionResponse" message="tns:showUserAuctionResponse"/>
</operation>
<operation name="showAuctionImage">
<input wsam:Action="http://service/scartservice/showAuctionImageRequest" message="tns:showAuctionImage"/>
<output wsam:Action="http://service/scartservice/showAuctionImageResponse" message="tns:showAuctionImageResponse"/>
</operation>
<operation name="showBidActivity">
<input wsam:Action="http://service/scartservice/showBidActivityRequest" message="tns:showBidActivity"/>
<output wsam:Action="http://service/scartservice/showBidActivityResponse" message="tns:showBidActivityResponse"/>
</operation>
</portType>
<binding name="scartservicePortBinding" type="tns:scartservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showAllChildCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showMasterCategoryWise">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showCategoryWiseBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdCategoryWise">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdidWiseDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAuctionDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdByCategoryAndName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showUserWiseAd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAdDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAdWiseImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showUserAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAuctionImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showBidActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="scartservice">
<port name="scartservicePort" binding="tns:scartservicePortBinding">
<soap:address location="http://localhost:8080/scartservice/scartservice"/>
</port>
</service>
</definitions>